:root {
    --primary: hsl(280, 18%, 97%);
    --bg: black;
  }
  
  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-block: none;
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Poppins", Sans-Serif;
    background-color: var(--bg);
    color: hwb(317 4% 0%);
  }
  
  /* navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #010101;
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  .navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(317, 100%, 50%);
    font-style: italic;
  }
  
  .navbar .navbar-logo span {
    color: var(--primary);
  }
  
  .navbar .navbar-nav a {
    color: hwb(322 3% 5%);
    display: inline-block;
    font-size: 1.5rem;
    margin: 0 1rem;
  }
  
  .navbar .navbar-nav a:hover {
    color: var(--primary);
  }
  
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transform: 0.2s linear;
  }
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }
  
  .navbar .navbar-extra a {
    color: hsl(0, 0%, 4%);
    margin: 0 0.5rem;
  }
  
  .navbar .navbar-extra a:hover {
    color: var(--primary);
  }
  
  #hamburger-menu {
    display: none;
  }
  
  /* Hero Section */
  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url("../img/profile-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .hero::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(1, 1, 3, 1) 8%,
      rgba(255, 255, 255, 0) 50%
    );
  }
  
  .hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
  }
  
  .hero .content h1 {
    font-size: 5em;
    color: hsl(120, 33%, 95%);
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
  }
  
  .hero .content h1 span {
    color: var(--primary);
  }
  
  .hero .content p {
    font-size: 2rem;
    color: #e6ebe8;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 300;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  }
  
  .hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: hsl(313, 90%, 46%);
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  }
  
  /* About Section */
  .about,
  .menu,
  .contact {
    min-height: 100vh;
    align-items: center;
    padding: 8rem 7% 1.4rem;
  }
  
  .about h2,
  .menu h2,
  .contact h2 {
    text-align: center;
    color: var(--primary);
    font-size: 2.6rem;
    margin-bottom: 3rem;
  }
  
  .about .row {
    display: flex;
  }
  
  .about .row .about-img {
    flex: 1 1 45rem;
  }
  
  .about .row .about-img img {
    width: 100%;
  }
  
  .about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
  }
  
  .about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: hsl(120, 5%, 88%);
  }
  
  .about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    font-weight: 75;
    line-height: 1.5;
    color: hsl(120, 5%, 88%);
  }
  
  /* Menu Section */
  .menu h2,
  .contact h2 {
    margin-bottom: 1.5rem;
  }
  .menu p,
  .contact p {
    text-align: center;
    font-size: 1.5rem;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
    color: hwb(0 89% 9%);
  }
  
  .menu .row {
    display: flex;
    flex-wrap: warp;
    margin-top: 5rem;
    justify-content: center;
  }
  
  .menu .row .menu-card {
    text-align: center;
    padding: 1rem;
    width: 100px;
    height: 100px;
    background-color: black;
  }
  
  .menu .row .menu-card img {
    border-radius: 150%;
    width: 100%;
    height: 100%;
  }
  
  .menu .row .menu-card a {
    position: different;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--primary);
    background-color: hwb(0 3% 97%);
    opacity: 0.8;
  }
  
  .menu .row .menu-card h3 {
    font-size: 1rem;
    justify-content: center;
    color: var(--primary);
  }
  
  /* Contact Section */
  .contact .row {
    position: different;
    margin-top: 4rem;
    justify-content: left;
  }
  .contact .row .contact-icon a {
    color: var(--primary);
    display: inline-block;
    width: 100%;
    padding: 1.5rem;
    margin: 0 20px;
  }
  
  /* Footer  */
  footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
  }
  
  footer .socials {
    padding: 1rem 0;
  }
  
  footer .socials a {
    color: hsl(249, 82%, 45%);
    padding: 0.7rem 1rem;
  }
  
  footer .link a {
    color: hwb(309 7% 3%);
    padding: 0.7rem 1rem;
  }
  footer .credit {
    font-size: 0.8rem;
  }
  
  footer .credit a {
    color: var(--bg);
    font-weight: 700;
  }
  
  /* Media Queries */
  /* Laptop */
  @media (max-width: 1366px) {
    html {
      font-size: 75%;
    }
  }
  
  /* Tablet */
  @media (max-width: 768px) {
    html {
      font-size: 62.5%;
    }
  
    #hamburger-menu {
      display: inline-block;
    }
  
    .navbar .navbar-nav {
      position: absolute;
      top: 100%;
      right: -100%;
      background-color: rgb(245, 3, 152);
      width: 30rem;
      height: 100vh;
      transition: 0.3s;
    }
  
    .navbar .navbar-nav.active {
      right: 0;
    }
  
    .navbar .navbar-nav a {
      color: var(--bg);
      display: block;
      margin: 1.5rem;
      padding: 0.5rem;
      font-size: 2rem;
    }
  
    .navbar .navbar-nav a::after {
      transform-origin: 0 0;
    }
  
    .navbar .navbar-nav a:hover::after {
      transform: scaleX(0.2);
    }
  
    .about .row {
      flex-wrap: warp;
    }
  
    .about .roq .about-img img {
      height: 24rem;
      object-fit: cover;
      object-position: center;
    }
  
    .about .row .content {
      padding: 0;
    }
  
    .about .row .content h3 {
      margin-top: 1rem;
      font-size: 2rem;
    }
  
    .about .row .content p {
      font-size: 1.8rem;
    }
  }
  
  .menu p {
    font-size: 1.5rem;
  }
  
  /* Mobile Phone */
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }
  